# dependencies
node_modules
.pnp
.pnp.js

# misc
.DS_Store
*.pem
dist
coverage

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# cache
.turbo

# Typescript
*.tsbuildinfo
*.d.ts